{% extends "ledger/base_ledger.html" %} 

{% block heading %}
  Recipe Detail Page
{% endblock %}

{% block app_content %}
  {% if user.is_authenticated %}
    <a href="{% url 'ledger:recipe_upload_image' recipe.pk %}">Upload a new image</a>
  {% endif %}
  
  {% for image in recipe.images.all %}
    {% if image.image %}
    <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endif %} 
  {% endfor %}

  <h3>{{ recipe.name }} Ingredients</h3>
  <h4>By: {{ recipe.author.name }}</h4>

  <ul>
    {% for r in recipe.ingredients.all %}
      <li>
        <p> <strong>Name:</strong> {{ r.ingredient.name }} </p>
        <p> <strong>Quantity:</strong> {{ r.quantity }} </p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}