{% extends "ledger/base_ledger.html" %} 

{% block heading %}
  Recipe List Page
{% endblock %}

{% block app_content %}
  {% if user.is_authenticated %}
    <a href="{% url 'ledger:recipe_create' %}">Create a recipe</a>
  {% endif %}

  {% for recipe in recipes %}
    <h4>{{ recipe.name }}</h4>
    
    {% for image in recipe.images.all %}
      {% if image.image %}
      <img src="{{ image.image.url }}" alt="{{ image.description }}" style="width: 100px;">
      {% endif %} 
    {% endfor %}

    <a href="{{ recipe.get_absolute_url }}">LINK TO RECIPE</a>
  {% endfor %}
{% endblock %}